---
import TerminalLine from "@/components/atoms/terminal-line.astro";
import Hero from "./hero.astro";
import Showcase from "./showcase.astro";
import TerminalCursor from "@/components/atoms/terminal-cursor.astro";
---

<Hero />
<Showcase />

<div class="mt-8 flex w-full items-center justify-center">
  <TerminalLine>
    - end of stream - <TerminalCursor />
  </TerminalLine>
</div>
