---
import "@/styles/global.css";
import { Font } from "astro:assets";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <Font cssVariable="--font-geist" preload />
    <Font cssVariable="--font-geist-mono" preload />
    <Font cssVariable="--font-jacquard" preload />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
