---
import "@/styles/global.css";
import { Font } from "astro:assets";

interface Props {
  title: string;
  description?: string;
  class?: string;
}

const { title, class: className, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <Font cssVariable="--font-geist" preload />
    <Font cssVariable="--font-geist-mono" preload />
    <Font cssVariable="--font-jacquard" preload />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body class={className}>
    <slot />
  </body>
</html>
