<div class="mt-4 mb-7.5 flex items-center gap-4">
  <span
    class="text-foreground/55 text-sm font-semibold tracking-widest uppercase"
  >
    <slot />
  </span>
  <span class="from-primary/55 to-background h-px flex-1 bg-linear-to-r"></span>
  <slot name="after" />
</div>
