---
interface Props {
  class?: string;
  command?: string;
}

const { class: className, command } = Astro.props;
---

<p class:list={["text-sm tracking-wide", className]}>
  <slot name="back" />
  <span class="text-green-400">&gt;{" "}</span>
  {command && <span class="text-primary">{command} </span>}<slot />
</p>
